node_modules/
.expo/
.expo-shared/
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
Thumbs.db
